@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.5;
}

.welcome {
    margin: auto;
    padding: 10px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    
    * {
        padding: 0;
        margin: 0;
    }

    h1 {
        margin-bottom: 10px;
        span {
            color: grey;
        }
    }
    p {
        margin: 5px;
    }
}

.loginform {
    margin: 50px auto;
    padding: 10px;
    width: 80vw;
    display: flex;
    flex-direction: column;


    .group {
        display: grid;
        position: relative;
        border: 1px solid grey;
        height: 40px;

        .line{
            height: 40px;
            width: 0px;
            position: absolute;
            border-left: solid blue;
            opacity: 0;
        }
        
        .userandpass {
            padding: 5px;
            padding-left: 20px;
            left: 50px;
            outline: none;
            border: none;
         }

        .userandpass:focus{
            outline: none;
            border: none;
         }

        label {
            background-color: rgb(255, 255, 255);
            cursor: text;
            position: absolute;
            pointer-events:none;
            top: 10px;
            left: 20px;
            transition: all 0.2s linear;
            font-size: 16px;
            color: gray;
        } 

        .userandpass:focus ~ label, .userandpass:valid ~ label{
            top: -8px;
            font-size: 13px;
            color: blue;
            transition: all 0.1s linear;
            background-color: white;
        }

        .userandpass:focus ~ .line, .userandpass:valid ~ .line{
            transition: all 0.2s linear;
            width: 10px;
            opacity: 1;
            background-color: white;
        }
        
         

    } //group ends here

    .top {
        border-bottom: none;
    }

    .bottom {
        margin-bottom: 30px;
    }

    .block {
        padding: 30px 0 0 0;
        display: flex;
        flex-direction: column;
    }

    .buttons {
        margin-top: 0px;
        display: flex;
        flex-direction: column;

        .sign-in {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        p {
            font-size: 2rem;
        }

        .submitbutton {
            padding: 10px;
            width: 6rem;
            height: 6rem;
            border: 1px solid grey;
            outline: none;
            border-radius: 3rem;
            background-color: black;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            color:white;
            transition: all 0.2s linear;
            transition: transform 85ms linear;
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.52);
            cursor: pointer;
        }
    
        .submitbutton:active {
            transform: scale(0.9);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.52);
        }

        a{
            margin-top: 20px;
            text-decoration: underline;
        }

    }

    .buttons {

        .submitbutton:hover {
            background-color: rgb(58, 58, 58);
        }
    }

} //loginform ends here


.show {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    nav {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            li {
                margin: 0;
                padding: 10px;
            }
        }
    }
    .new {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} //show ends here