@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.5;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.logo {
  height: 10vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.418);
          box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.418);
}

.main {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-area {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.cover-up {
  background-image: url(./img/cover-up.png);
  background-size: cover;
  background-position: 0 -20vh;
  background-repeat: no-repeat;
}

.cover-in {
  background-image: url(./img/cover-in.png);
  background-size: cover;
  background-position: 0 -10vh;
  background-repeat: no-repeat;
}

.welcome {
  margin: auto;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome * {
  padding: 0;
  margin: 0;
}

.welcome h1 {
  margin-bottom: 10px;
  color: white;
}

.welcome h1 span {
  color: white;
}

.welcome p {
  color: white;
}

.real-form {
  margin: 20px auto;
  padding: 10px;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.real-form .group {
  display: -ms-grid;
  display: grid;
  position: relative;
  border: 1px solid grey;
  height: 40px;
}

.real-form .group .line {
  height: 40px;
  width: 0px;
  position: absolute;
  border-left: solid blue;
  opacity: 0;
}

.real-form .group .text-area {
  padding: 5px;
  padding-left: 20px;
  left: 50px;
  outline: none;
  border: none;
}

.real-form .group .text-area:focus {
  outline: none;
  border: none;
}

.real-form .group label {
  background-color: white;
  cursor: text;
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-size: 16px;
  color: gray;
}

.real-form .group .text-area:focus ~ label, .real-form .group .text-area:valid ~ label {
  top: -8px;
  font-size: 13px;
  color: blue;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  background-color: white;
}

.real-form .group .text-area:focus ~ .line, .real-form .group .text-area:valid ~ .line {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 10px;
  opacity: 1;
  background-color: white;
}

.real-form .top {
  border-bottom: none;
  border-top: 10px solid white;
}

.real-form .group {
  border-left: 10px solid white;
  border-right: 10px solid white;
}

.real-form .bottom {
  border-bottom: 10px solid white;
}

.real-form .bottom-up-only {
  margin-bottom: 30px;
}

.real-form .block {
  margin-top: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.real-form .buttons {
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.real-form .buttons .sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.real-form .buttons p {
  font-size: 2rem;
}

.real-form .buttons .submitbutton {
  padding: 10px;
  width: 6rem;
  height: 6rem;
  border: 1px solid grey;
  outline: none;
  border-radius: 3rem;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
  color: white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transition: -webkit-transform 85ms linear;
  transition: -webkit-transform 85ms linear;
  transition: transform 85ms linear;
  transition: transform 85ms linear, -webkit-transform 85ms linear;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.52);
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.52);
  cursor: pointer;
}

.real-form .buttons .submitbutton:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.52);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.52);
}

.real-form .buttons a {
  text-decoration: underline;
}

.real-form .buttons .submitbutton:hover {
  background-color: #3a3a3a;
}

.show {
  margin: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: grey;
  border-radius: 20px 20px 0px 0px;
  -webkit-box-shadow: 0px -5px 6px rgba(0, 0, 0, 0.418);
          box-shadow: 0px -5px 6px rgba(0, 0, 0, 0.418);
  width: 100vw;
}

.show nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.show nav ul li {
  margin: 0;
  padding: 10px;
}

.show .new {
  border-radius: 20px 20px 0px 0px;
  font-size: 15px;
  width: 50vw;
  padding: 10px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show .new * {
  margin: 0;
  padding: 0;
}

.fade-in {
  -webkit-animation: fade 1s ease-in-out 0s forwards;
  animation: fade 1s ease-in-out 0s forwards;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 350px) {
  body {
    font-size: 16px;
  }
  .block {
    margin-top: 20px !important;
  }
  .block p {
    margin-top: 10px;
  }
  .buttons p {
    margin: 0;
  }
  .buttons .submitbutton {
    height: 60px !important;
    width: 60px !important;
    font-size: 35px !important;
  }
}
/*# sourceMappingURL=style.css.map */