@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.5;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.logo {
    height: 4rem;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.418);
}

.main {
    width: 100vw;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-area {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.cover-up {
    background-image: url(./img/cover-up.png);
    background-size: cover;
    background-position: 0 -20vh;
    background-repeat: no-repeat;
}

.cover-in {
    background-image: url(./img/cover-in.png);
    background-size: cover;
    background-position: 0 -10vh;
    background-repeat: no-repeat;

}

.welcome {
    margin: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    
    * {
        padding: 0;
        margin: 0;
    }

    h1 {
        margin-bottom: 10px;
        color: white;
        span {
            color: rgb(255, 255, 255);
        }
    }
    p {
        color: white;
    }
}

.real-form {
    margin: 20px auto;
    padding: 10px;
    width: 80vw;
    display: flex;
    flex-direction: column;


    .group {
        display: grid;
        position: relative;
        border: 1px solid grey;
        height: 40px;

        .line{
            height: 40px;
            width: 0px;
            position: absolute;
            border-left: solid blue;
            opacity: 0;
        }
        
        .text-area {
            padding: 5px;
            padding-left: 20px;
            left: 50px;
            outline: none;
            border: none;
         }

        .text-area:focus{
            outline: none;
            border: none;
         }

        label {
            background-color: rgb(255, 255, 255);
            cursor: text;
            position: absolute;
            pointer-events:none;
            top: 10px;
            left: 20px;
            transition: all 0.2s linear;
            font-size: 16px;
            color: gray;
        } 

        .text-area:focus ~ label, .text-area:valid ~ label{
            top: -8px;
            font-size: 13px;
            color: blue;
            transition: all 0.1s linear;
            background-color: white;
        }

        .text-area:focus ~ .line, .text-area:valid ~ .line{
            transition: all 0.2s linear;
            width: 10px;
            opacity: 1;
            background-color: white;
        }
        
         

    } //group ends here

    .top {
        border-bottom: none;
        border-top: 10px solid white;
    }

    .group {
        border-left: 10px solid white;
        border-right: 10px solid white;
    }

    .bottom {
        border-bottom: 10px solid white;
    }

    .bottom-up-only {
        margin-bottom: 30px;
    }

    .block {
        margin-top: 30px;
        padding: 0;
        display: flex;
        flex-direction: column;
        color: white;
    }

    .buttons {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .sign {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        p {
            font-size: 2rem;
        }

        .submitbutton {
            padding: 10px;
            width: 6rem;
            height: 6rem;
            border: none;
            outline: none;
            border-radius: 3rem;
            background-color: black;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            color:white;
            transition: all 0.2s linear;
            transition: transform 85ms linear;
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.52);
            cursor: pointer;
        }
    
        .submitbutton:active {
            transform: scale(0.9);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.52);
        }

        .submitbutton:focus {
            outline: none;
        }

        a{
            text-decoration: underline;
        }

    }

    .buttons {
        .submitbutton:hover {
            background-color: rgb(58, 58, 58);
        }
    }

} //loginform ends here


.show {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -5px 6px rgba(0, 0, 0, 0.418);
    width: 100vw;
    nav {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            li {
                margin: 0;
                padding: 10px;
            }
        }
    }
    .new {
        border-radius: 20px 20px 0px 0px;
        font-size: 15px;
        width: 50vw;
        padding: 10px;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        * {
            margin: 0;
            padding: 0;
        }
    }
} //show ends here


//animations

.fade-in {
    -webkit-animation: fade 1s ease-in-out 0s forwards;
            animation: fade 1s ease-in-out 0s forwards;
  }

//Keyframes

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
    }
}

//Media
@media only screen and (max-width: 350px) {
    body {
        font-size: 16px;
    }
   
    .block {
        margin-top: 20px !important;
            p{
                margin-top: 10px;
            }
    }

    .buttons {
        p {
            margin: 0;
        }
        .submitbutton {
            height: 60px !important;
            width: 60px !important;
            font-size: 35px !important;
        }
    }
  }